/* Universal Styles */
/* 
* {
  border: 2px dashed limegreen;
} */


body {
  font-family: monospace;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #f4f4f4;
  font-size: 2vw;
  /* Base font size using viewport width */
}

/* Title and Notes */
.title {
  box-sizing: border-box;
  align-self: center;
  text-align: center;
  font-weight: bold;
  color: #0078D7;
  border: 2px solid #0078D7;
  border-radius: 40px;
  text-transform: uppercase;
  /* letter-spacing: 2px; */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 5vw;
  margin: 10px;
  padding: 5px 70px;
}

.title:active {
  background-color: #ccc;
} 

.note-container {
  box-sizing: border-box;
  text-align: center;
  font-family: monospace;
  font-size: 1.5vw;
  /* padding: ; */
  margin: 0px 12px;
}

.dedication {
  font-size: 1.5vw;
  box-sizing: border-box;
}

.dedication-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}


/* .add-job-button:active {
  background-color: #45a049;
} */





/* Containers */
.form-btn-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  height: 100vh;
}

.form-container {
  /* border: 2px dashed red; */
  box-sizing: border-box;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}



.button-container {
  /* border: 2px solid green; */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 6px 10px;
  padding: 0px;
}

.save-clear-container {
  /* border: 2px solid pink; */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 0px 8px;
  padding: 0px;
}

/* .bottom-container {
  border: 2px solid red;
} */

/* Job and Expense Inputs */
.job-input,
.expense-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.job-input .job-name {
  flex: 2.5;
}

.job-input .rate-per-hour {
  flex: 2.2;
}

.job-input .hours-per-shift {
  flex: 2.5;
}

.job-input .no-of-shifts {
  flex: 1.2;
}

.job-input input[type="text"],
.job-input input[type="number"],
.expense-input input[type="text"],
.expense-input input[type="number"] {
  box-sizing: border-box;
  padding: 8px 4px;
  border: 1px solid #ccc;
  border-radius: 1px;
  width: 100%;
}

.job-input select,
.expense-input select {
  padding: 7px 4px;
  border: 1px solid #ccc;
  border-radius: 1px;
  min-width: 0;
}

.job-input select {
  flex: 1.6;
}

.expense-input .expense-name {
  flex: 4.5;
}

.expense-input .amount {
  flex: 4;
}

.expense-input select {
  flex: 1.5;
}

.job-input .remove-job,
.expense-input .remove-expense {
  flex: .3;
  background-color: #e74c3c;
  color: white;
  padding: 7px;
  margin-left: 4px;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.job-input .remove-job:hover,
.expense-input .remove-expense:hover {
  background-color: #c0392b;
}

/* Headings */
h1 {
  /* border: 2px solid violet; */
  box-sizing: border-box;
  font-size: 4vw;
  margin: .4em 0px;
  font-family: monospace;
}
#total {
box-sizing: border-box;
/* border: 2px solid violet; */
font-size: 3vw;
font-family: monospace;
margin: 0px 8px;
}

.h1-icon {
  /* border: 2px solid blue; */
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/* .h1-toggle-container#h1-toggle-earnings {
  margin-top: 100px;
} */

.h1-toggle-container {
  /* border:2px solid green; */
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.financial-overview-container {
  /* border: 2px solid red; */
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}

/* Select Element */
select {
  text-transform: lowercase;
}

/* Buttons */
.compute-button {
  box-sizing: border-box;
  padding: 8px;
  /* border-radius: 4px; */
  border-radius: 20px;
  font-size: 2vw;
  cursor: pointer;
  transition: all 0.3s ease;
  width: auto;
  flex: 1;
  font-family: monospace;
  margin: 5px;
  border: none;
  color: white;
  /* Make text color white */
  font-weight: bold;
  /* Apply bold font weight */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 3vw;

  -webkit-tap-highlight-color: transparent;
}

.compute-button.save,
.compute-button.clear {
  box-sizing: border-box;
  flex: 1;
  /* background-color: #4CAF50; */
  background-color: #ccc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* color: white; */
  color: black;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  /* font-size: 3vw; */

  -webkit-tap-highlight-color: transparent;
}


.compute-button.save:active,
.compute-button.clear:active {
  background-color: #aaa;
  transform: translateY(1px);
  box-shadow: none;
}


/* Salary Button - Green Shade */
.compute-button.salary {
  background-color: #66bb6a;
  /* Light green */
}

.compute-button.salary:active {
  background-color: #4caf50;
  transform: translateY(1px);
  box-shadow: none;
}

/* Expense Button - Red Shade */
.compute-button.expense {
  background-color: #e57373;
  /* Light red */
}

.compute-button.expense:active {
  background-color: #f44336;
  transform: translateY(1px);
  box-shadow: none;
}

/* Net Income Button - Blue Shade */
.compute-button.income {
  background-color: #3388cc;
  /* Adjusted blue */
}


.compute-button.income:active {
  background-color: #2277b0;
  transform: translateY(1px);
  box-shadow: none;
}

.toggle-button {
  /* box-sizing: border-box; */
  padding: 2px 10px;
  border-radius: 20px;
  font-size: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: monospace;
  margin-right: 8px;
  color: black;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  -webkit-tap-highlight-color: transparent;
}

/* Buttons */
.add-job-icon {
  box-sizing: border-box;
  margin-right: 2px;
  background-color: #45a049;
  border: 1px solid #45a049;
  border-radius: 50%;
  width: 6vw;
  height: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 7vw;
  color: white;
  font-weight: 2px;
  transition: all 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  -webkit-tap-highlight-color: transparent; /* Removes highlight on touch */
}


.add-job-icon:active {
  color: #3d8f42;
  background-color: white;
  border: 1.5px solid #3d8f42;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}



#toggle-job {
  border: 1.5px solid #45a049;
}

#toggle-job:active {
  background-color: #45a049;
  transform: translateY(1px);
  box-shadow: none;
}


#toggle-exp {
  border: 1.5px solid #e57373;
}

#toggle-exp:active {
  background-color: #e57373;
  transform: translateY(1px);
  box-shadow: none;
}

#toggle-report{
  border: 1.5px solid #3388cc;
}

#toggle-report:active {
  background-color: #2277b0;
  transform: translateY(1px);
  box-shadow: none;
}

/* Media Queries */
@media (min-width: 1024px) {
  body {
    font-size: 16px;
  }

  #toggle-job:hover {
    background-color: #45a049;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }

  #toggle-job:active {
    background-color: #45a049;
    transform: translateY(1px);
    box-shadow: none;
  }

  #toggle-exp:hover {
    background-color: #e57373;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }

  #toggle-exp:active {
    background-color: #e57373;
    transform: translateY(1px);
    box-shadow: none;
  }

  #toggle-report:hover {
    background-color: #2277b0;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }
  #toggle-report:active {
    background-color: #2277b0;
    transform: translateY(1px);
    box-shadow: none;
  }

  .compute-button.expense:hover {
    background-color: #f44336;
    /* Red */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }
  
  .compute-button.expense:active {
    background-color: #f44336;
    transform: translateY(1px);
    box-shadow: none;
  }
  .compute-button.salary:hover {
    background-color: #4caf50;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }
  
  .compute-button.salary:active {
    background-color: #4caf50;
    transform: translateY(1px);
    box-shadow: none;
  }

  .compute-button.income:hover {
    background-color: #2277b0;
    /* Darker blue for hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }
  
  .compute-button.income:active {
    background-color: #2277b0;
    transform: translateY(1px);
    box-shadow: none;
  }

  .add-job-icon:hover {
    color: #3d8f42;
    background-color: white;
    border: 1.5px solid #3d8f42;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }

  .add-job-icon:active {
    color: #3d8f42;
    background-color: white;
    border: 1.5px solid #3d8f42;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
  }


  .form-btn-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100vh;
  }

  h1,
  #total {
    font-size: 24px;
  }

  .add-job-icon {
    width: 24px;
    height: 24px;
    font-size: 24px;
  }

  .form-container {
    width: 100%;
  }

  .job-input input,
  .job-input select,
  .expense-input input,
  .expense-input select,
  .job-input .remove-job,
  .expense-input .remove-expense {
    font-size: 16px;
    width: auto;
  }

  .add-job-button{
    font-size: 16px;
  }

  .compute-button {
    font-size: 16px;
  }

  .compute-button.save:hover,
  .compute-button.clear:hover {
    background-color: #aaa;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }

  .compute-button.save:active,
  .compute-button.clear:active {
    background-color: #aaa;
    transform: translateY(1px);
    box-shadow: none;
  }
  
  .compute-button.salary:active {
    background-color: #4caf50;
    transform: translateY(1px);
    box-shadow: none;
  }

  .toggle-button {
    font-size: 10px;
    cursor: pointer;
    padding: 2px 10px;
    /* margin: 20px 20px 20px 10px; */
    
  }

  .title {
    font-size: 3rem;
  }

  .note-container {
    font-size: 12px;
    margin: 0px 12px;
  }

  .dedication {
    font-size: 10px;
  }
}